<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="7.7.7">
 </head>
 <body>
  <vaadin-css-layout style-name="tiles" responsive size-full>
   <vaadin-css-layout style-name="row" width-full>
    <vaadin-css-layout style-name="tile quarter">
     <vaadin-css-layout style-name="tile-content padding admin-tiles" responsive width="25%" height="86px">
      <vaadin-label style-name="title" responsive height="23px" plain-text>
        Total Users 
      </vaadin-label>
      <vaadin-label>
       <b>80</b>
      </vaadin-label>
     </vaadin-css-layout>
     <vaadin-css-layout style-name="tile-content padding admin-tiles" width="25%">
      <vaadin-label style-name="title" height="24px" plain-text>
        Total Designs 
      </vaadin-label>
      <vaadin-label>
       <b>240</b>
      </vaadin-label>
     </vaadin-css-layout>
     <vaadin-css-layout style-name="tile-content padding admin-tiles" width="25%">
      <vaadin-label style-name="title" height="24px" plain-text>
        Total Downloads 
      </vaadin-label>
      <vaadin-label>
       <b>75</b>
      </vaadin-label>
     </vaadin-css-layout>
     <vaadin-css-layout style-name="tile-content padding admin-tiles" width="25%">
      <vaadin-label style-name="title" height="24px" plain-text>
        Memory Used 
      </vaadin-label>
      <vaadin-label>
       <b>1.5 GB</b>
      </vaadin-label>
     </vaadin-css-layout>
    </vaadin-css-layout>
   </vaadin-css-layout>
  </vaadin-css-layout>
 </body>
</html>