<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="7.7.7">
 </head>
 <body>
  <vaadin-css-layout style-name="tiles" responsive width-full height="56px">
   <vaadin-css-layout style-name="tile-content padding" responsive width-full height="45px">
    <vaadin-label icon="fonticon://FontAwesome/f1f9" style-name="small" responsive width-auto height-full plain-text>
      Copyright 2017 · All rights reserved. 
    </vaadin-label>
   </vaadin-css-layout>
  </vaadin-css-layout>
 </body>
</html>