<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="7.7.7">
 </head>
 <body>
  <vaadin-vertical-layout style-name="borderless" size-full>
   <vaadin-css-layout style-name="well" width-full _id="cssLayout" :center :expand>
    <vaadin-label style-name="colored bold h2 v-window-top-toolbar" responsive size-auto plain-text _id="projectName">
      Company Name 
    </vaadin-label>
    <vaadin-menu-bar responsive width-full>
     <menu>
       Home 
     </menu>
     <menu>
       Products 
      <menu>
        Product1 
      </menu>
      <menu>
        Product2 
      </menu>
      <menu>
        Product3 
      </menu>
     </menu>
     <menu>
       Services 
      <menu>
        Service1 
      </menu>
      <menu>
        Service2 
      </menu>
      <menu>
        Service3 
      </menu>
     </menu>
     <menu description="Some description">
       About 
     </menu>
     <menu description="Some description">
       Contact Us 
     </menu>
    </vaadin-menu-bar>
   </vaadin-css-layout>
  </vaadin-vertical-layout>
 </body>
</html>